@import '../../helpers';

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 22;
  width: 40em;
  height: 15em;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);


  @include for-size('phone-only') {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }


  .modal-close-button {
    cursor: pointer;
    padding: 0;
    margin: 0.6em 0;
    display: flex;
    align-items: center;
    background: none;
    align-self: flex-end;
    border: none;
    outline: none;

    color: white;
    font-weight: $weight-medium;

    img {
      width: 1.8em;
      margin-right: 0.5em;
    }

    @include for-size('phone-only') {
      margin-right: 0.4em;
      font-size: 1.2em;
    }

  }

  .content {
    background-color: #fff;
    border-radius: $border-radius;
    padding: 1em 2em;

    h3 {
      font-size: 1.3em;
      font-weight: $weight-medium;
      text-transform: uppercase;
      color: $darker;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0,0,0,0.7);

  &.show {
    display: block;
  }
}
