@import '../../helpers';

.gallery {
  display: flex;
  align-items: center;

  div {
    position: relative;
    cursor: pointer;

    @include for-size('phone-only') {
        display: none;
    }

  }

  div:first-of-type {
    left: -15px;
  }

  div:last-of-type {
    left: 15px;
  }

  .image {
    width: 39em;
    height: 25em;
    object-fit: contain;

    @include for-size('phone-only') {
      width: 100%;
      height: 20em;
    }

  }
}

.phone-arrows {
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-size('tablet-portrait-up') {
    display: none;
  }

  div {
    margin: 1em 3em;
    img {
      height: 4em;
    }
  }

}
