@import '../../helpers';

.drag-n-drop {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 3.6em;
  border: 0.2em dashed rgb(238, 238, 238);
  border-radius: 0.3em;

  & ~ .add-button {
    margin: 1em 0;
    float: right;
  }

  &.active {
    border-color: #42c78d;
  }

  p {
    color: $light-text;
    padding: 0;
    margin: 0;

    &:first-of-type {
      margin: 0.8em;
      font-weight: $weight-bold;
    }

    &:nth-of-type(2) {
      margin-bottom: 0.6em;
      font-weight: $weight-regular;
    }
  }

  .pick-files {
    background: transparent;
    border: 0.15em solid $light-text;
    padding: 0.6em 1.8em;
    border-radius: 0.3em;
    color: $light-text;
    text-transform: uppercase;
    font-weight: $weight-medium;
    font-size: 0.9em;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.image-row {
  display: flex;
  margin-top: 1em;
  overflow-x: auto;
  padding-bottom: 1em;
  img {
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    margin: 0 .2em;
  }
}
