@import '../../helpers';

.grid {
  margin-top: 2em;
  // layout
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-row-gap: 2em;
  grid-column-gap: 3em;
  justify-items: center;

  @include for-size('tablet-portrait-up') {
    grid-column-gap: 7em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }

  @include for-size('desktop-up') {
    grid-column-gap: 0.3em;
    justify-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  }
}
