@import './assets/css/normalize.css';
@import 'helpers';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;

  @include for-size('tablet-portrait-up') {
    font-size: 15px;
  }
  @include for-size('big-desktop-up') {
    font-size: 20px;
  }
}
